*, *::before, *::after {
  box-sizing: border-box;
  font-weight: bold;
  font-family: Calibri-Regular;
  font-size: 18px;
}

@font-face {
  font-family: Calibri-Regular;;
  src: url(Calibri-Regular.ttf)
}

div {
  font-family: Calibri-Regular;
}
:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}

body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url("https://i.postimg.cc/c1QCTs8m/Whats-App-Image-2020-12-22-at-9-14-34-AM.jpg");

  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-position: center;
  background-size: cover;
  background-color: hsl(var(--hue), 100%, 20%);
}

body.correct {
  --hue: var(--hue-correct);
}

body.wrong {
  --hue: var(--hue-wrong);
}

.container {
  width: 800px;
  max-width: 80%;
  /*background-color: black;*/
  background: rgba(0, 0, 0, 0.6);
  /*opacity: 60%;*/
  border-radius: 0px;
  margin-top: 40px;
  padding: 20px;
  text-align: center;
  color: white;
  /*box-shadow: 0 0 10px 2px; */
  
  /* To bring the container up on the page */
  margin-bottom: 6em;

  /* want to bring more space between question and container border */
  padding-top: auto;
}

.start-container {
  min-width: 200px;
  /* width: 800px; */
  max-width: 80%;
  
  /*background-color: black;*/
  background: rgba(0, 0, 0, 0.6);
  /*opacity: 60%;*/
  border-radius: 0px;
  margin-top: 40px;
  padding: 20px;
  text-align: center;
  color: white;
  /*box-shadow: 0 0 10px 2px; */
  
  /* To bring the container up on the page */
  margin-bottom: 6em;

  /* want to bring more space between question and container border */
  padding-top: auto;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
}

.subtitle p {
  /* position: absolute; */
  /* top: 50px; */
  font-size: 40px;
  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;

}
.subtitle__question1 p{
  font-size: 40px;
  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.subtitle__question2 p{
  font-size: 40px;
  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.subtitle__question3 p{
  font-size: 40px;
  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}
.subtitle__question4 p{
  font-size: 40px;
  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.header{
  text-align: center;
  padding: 20px;
  
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 20px 0;
}

.btn {
 --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 0%, 20%);
  /*background-color: hsl(var(--hue), 0%, 20%);*/  
  background-color: #13436b;
  /*background-color: #310F0F;*/
  border-radius: 0px;
  padding: 5px 10px;
  
  color: white;
  outline: none;
}

.explain-btn {
  border-radius: 0px;
  padding: 5px 10px;
  font-size: 20px;
  color: white;
  outline: none;
  margin-bottom: 5px; 
}

.btn:hover {
  border-color: white;
  cursor: pointer;
}

.btn.correct {
  --hue: var(--hue-correct);
  color: black;
  border-color: black;
  background-color: white;
  
}

.btn.wrong {
  --hue: var(--hue-wrong);
  /*color: #1A1919;*/
/*   color: #BDBDBD; */
  color: #f2f2f2;
}

.selected-wrong-answer {
  background: #A4A4A4;
}

.start-btn, .next-btn, .end-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e0e0e0;
}

h1 {
  position: absolute;
  top: 45px;
  font-size: 400%;
  color: white;
   text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}


html {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DFDFDF;
}

